/*#about #contact{
  background:#2c3e50;
}

body{
  color:#6D98AB;
}*/

.navbar-default {
background-color: #00275e;
}

header, #about, footer .footer-above, footer .footer-below{
  background:#000000;
}

hr.star-light:after{
  background-color: #000000;
}

#portfolio, #contact{
  background:#2c3e50;
}

body{
  color:#6D98AB;
}

.modal-content{
  background: #2c3e50;
}

a, a:hover, a:focus, a:active, a.active {
outline: 0;
color: #6D98AB;
}

hr.star-primary {
border-color: #6D98AB;
}

hr.star-primary:after {
color: #6D98AB;
background-color: #2c3e50;
}

.form-control{
  color:#FEB729;
}
